.carouselcss{
	width: 90%;
	margin: auto;
	z-index: -5;
	border: none;
	padding-top: 6.5%;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);
	
}
.carousel_img{
	height: 80vh;
}
@media screen and (max-width: 768px){
	.carouselcss{
		width: 100%;
	}
	.carousel_img{
		height: 100%;
	} 
}